
<div class="loading ">
  <div class="loading-container">
    <p>Just a sec...</p>
    <%= image_tag "rubik.svg", class: "loader" %>
  </div>
</div>
<nav class="navbar navbar-default navbar-transparent navbar-fixed-top navbar-burger" role="navigation">
    <!-- if you want to keep the navbar hidden you can add this class to the navbar "navbar-burger"-->

    <div class="container">
    <div class="navbar-header">
        <button id="menu-toggle" type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar bar1"></span>
            <span class="icon-bar bar2"></span>
            <span class="icon-bar bar3"></span>
        </button>
        <a href="#" class="navbar-brand">
          The Vitrine Factory
        </a>
    </div>

    <div class="collapse navbar-collapse" >
      <ul class="nav navbar-nav navbar-right navbar-uppercase">
            <!-- <li class="social-links">
                <a href="#">
                    <i class="fa fa-facebook"></i>
                </a>
                <a href="#">
                    <i class="fa fa-twitter"></i>
                </a>
                <a href="#">
                    <i class="fa fa-instagram"></i>
                </a>
            </li> -->
            <li>
                <a href="" data-scroll="true" data-id="#whoWeAre">
                    About
                </a>
            </li>
            <li>
                <a href="" data-scroll="true" data-id="#workflow">
                    Savoir-faire
                </a>
            </li>
            <li>
                <a href="" data-scroll="true" data-id="#clients">
                    Cible
                </a>
            </li>
            <li>
                <a href="" data-scroll="true" data-id="#projects">
                    Créations
                </a>
            </li>
            <li>
                <a href="" data-scroll="true" data-id="#team">
                    Team
                </a>
            </li>
             <li>
                <a href="" data-scroll="true" data-id="#numbers">
                    Tarifs
                </a>
            </li>
            <li>
                <a href="" data-scroll="true" data-id="#informations">
                    Informations
                </a>
            </li>
            <li>
                <a href="" data-scroll="true" data-id="#contact">
                    Contact
                </a>
            </li>
       </ul>
    </div><!-- /.navbar-collapse -->
  </div>
</nav>


<div class="wrapper">
    <div class="section section-header">
        <div class="parallax pattern-image pic-1">
<!--            <img src="assets/img/vitrine/old-shop.jpg"/>
 -->          <div class="pic-filter-1"></div>
            <div class="container">
                 <div class="content">
                    <!-- <p><span>by </span>Creative Tim</p> -->
                    <h1>The Vitrine Factory</h1>
                    <div class="separator-container">
                      <div class="separator line-separator">♦</div>
                    </div>
                    <h5>Offrez à votre commerce une seconde vitrine, en ligne</h5>
                </div>
            </div>
        </div>
        <a href="" data-scroll="true" data-id="#whoWeAre" class="scroll-arrow hidden-xs hidden-sm">
            <i class="fa fa-angle-down"></i>
        </a>
    </div>

    <div class="section section-we-are-1" id="whoWeAre">
        <div class="text-area">
            <div class="container">
                <div class="row">
                    <div class="title add-animation" id="animationTest">
                        <h2>La photographie au coeur de notre démarche</h2>
                        <div class="separator-container">
                          <div class="separator line-separator">♦</div>
                        </div>
                        <p class="large">
                            Chez The Vitrine Factory, nous sommes convaincus qu'un beau site web passe avant tout par de belles photos. Pour cela, nous ne lésinons pas sur les moyens, nous passons par des photographes professionnels pour obtenir un visuel à la pointe du design.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="parallax pattern-image pic-2 hidden-xs">
            <div class="pic-filter-2"></div>
            <h3 class="citation text-center">vitrine, n.f.: présentation de son activité commerciale sous son meilleur jour.</h3>
        </div>
    </div>


    <div class="section section-we-do-2" id="workflow">
        <div class="container">
            <div class="row">
               <div class="title add-animation">
                   <h2>Savoir-faire</h2>
                   <div class="separator-container">
                      <div class="separator line-separator">♦</div>
                   </div>
                   <p>La recette pour faire un beau site vitrine original, le tout à un prix abordable ? Nous vous l'avons concoctée en 4 ingrédients :</p>
               </div>
            </div>
            <div class="row">
               <div class="col-md-4 col-md-offset-2 col-sm-6">
                   <div class="card add-animation animation-1">
                       <div class="icon">
                           <i class="pe-7s-paint"></i>
                       </div>
                       <h3>Design</h3>
                       <p>Parce qu'un beau site avec un design aux petits oignons, c'est quand même plus sexy que d'être référencé sur les pages jaunes</p>
                   </div>
               </div>
               <div class="col-md-4 col-sm-6">
                   <div class="card add-animation animation-2">
                       <div class="icon">
                           <i class="pe-7s-camera"></i>
                       </div>
                       <h3>Photo</h3>
                       <p>Parce de belles photos prises par un pro, ca donne envie envie d'éteindre son ordinateur pour se rendre en boutique</p>
                   </div>
               </div>
               <div class="col-md-4 col-md-offset-2 col-sm-6">
                   <div class="card add-animation animation-3">
                       <div class="icon">
                           <i class="pe-7s-pen"></i>
                       </div>
                       <h3>Wording</h3>
                       <p>Parce que vous ne vendez pas un simple produit ou service mais toute une histoire qui va avec. Ne soyez pas modeste</p>
                   </div>
               </div>
               <div class="col-md-4 col-sm-6">
                   <div class="card add-animation animation-4">

                       <div class="icon">
                           <i class="pe-7s-medal"></i>
                       </div>
                       <h3>Visibilité</h3>
                       <p>Parce qu'une belle vitrine mérite à être connue, même (et surtout) sur internet en 2016</p>
                   </div>
               </div>
            </div>
        </div>
    </div>


    <div class="section section-we-made-3 section-with-hover" id="clients">
        <div class="container">
            <div class="text-area">
                 <div class="title add-animation">
                   <h2>Cible</h2>
                   <div class="separator-container">
                      <div class="separator line-separator">♦</div>
                   </div>
                   <p>Notre cible de prédilection ? Tous les beaux commerces. Notre arme ? La photographie combinée à un design original. Notre objectif ? Faire de votre commerce une pépite sur le web.</p>
               </div>
            </div>

            <div class="row">
              <div class="col-lg-4 col-md-6">
                <div class="project add-animation animation-1">
                   <%= image_tag "vitrine/watch.jpg"%>
                   <div class="over-area over-area-sm" onClick="" data-target="project_1">
                      <div class="content">
                        <h4>Luxe</h4>
                        <p>Bijouterie, haute-joaillerie, haute-horlogerie, haute-couture</p>
                      </div>
                       <!-- <button class="btn hidden-sm hidden-xs" onClick="rubik.showModal(this)" data-target="project_1">
                             More Details
                      </button> -->
                    </div>
                </div>
              </div>

              <div class="col-lg-4 col-md-6">
                <div class="project add-animation animation-2">
                    <%= image_tag "vitrine/coffee-shop-sepia.jpg"%>
                    <div class="over-area over-area-sm" onClick="" data-target="project_2">
                      <div class="content">
                        <h4>Food</h4>
                        <p>Restaurants, épiceries fines, cafés, bars, boucheries, fromageries</p>
                      </div>
                      <!-- <button class="btn hidden-sm hidden-xs" onClick="rubik.showModal(this)" data-target="project_2">
                             More Details
                      </button> -->
                    </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6">
                   <div class="project add-animation animation-3">
                        <%= image_tag "vitrine/freelance.jpg"%>
                        <div class="over-area over-area-sm" onClick="" data-target="project_3">
                          <div class="content">
                              <h4>Professions libérales</h4>
                              <p>Avocats, comptables, consultants</p>
                          </div>
                          <!-- <button class="btn hidden-sm hidden-xs" onClick="rubik.showModal(this)" data-target="project_3">
                                 More Details
                          </button> -->
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="project add-animation animation-1">
                        <%= image_tag "vitrine/dentist-sepia.jpg"%>
                         <div class="over-area over-area-sm" onClick="" data-target="project_4">
                          <div class="content">
                              <h4>Santé & Bien-être</h4>
                              <p>Médecins, dentistes, pharmacies, esthéticiennes, coiffeurs, barbiers</p>
                          </div>
                          <!-- <button class="btn hidden-sm hidden-xs" onClick="rubik.showModal(this)" data-target="project_4">
                                 More Details
                          </button> -->
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                   <div class="project add-animation animation-2">
                        <%= image_tag "vitrine/store-sepia.jpg"%>
                        <div class="over-area over-area-sm" onClick="" data-target="project_5">
                          <div class="content">
                              <h4>Commerçants</h4>
                              <p>Prêt-à-porter, opticiens, décoration d'intérieur, fleuristes, agents immobiliers</p>
                          </div>
                          <!-- <button class="btn hidden-sm hidden-xs" onClick="rubik.showModal(this)" data-target="project_5">
                                 More Details
                          </button> -->
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="project add-animation animation-3">
                        <%= image_tag "vitrine/cameraman-sepia.jpg"%>
                        <div class="over-area over-area-sm" onClick="" data-target="project_6">
                          <div class="content">
                              <h4>Freelance</h4>
                              <p>Photographes, artistes, coachs</p>
                          </div>
                          <!-- <button class="btn hidden-sm hidden-xs" onClick="rubik.showModal(this)" data-target="project_6">
                                 More Details
                          </button> -->
                        <!-- </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section section-we-made-1 section-with-hover" id="projects">
         <div class="text-area">
            <div class="title add-animation">
                <h2>Créations</h2>
                <div class="separator-container">
                  <div class="separator line-separator">♦</div>
                </div>
            </div>
         </div>

        <div class="row">
          <div class="col-md-6" style="margin-bottom: 0px">
              <div class="project add-animation animation-1">
                    <%= image_tag "vitrine/wefoot.jpg" %>
                    <!-- <a class="over-area " target="_blank" href=""javascript:void(0)" onClick="rubik.showModal(this)" data-target="project_1""> -->
                    <a class="over-area " target="_blank" href="http://wefoot.co/">
                         <div class="content">
                            <h4>WeFoot</h4>
                            <p>Application mobile pour organiser des foots entre amis</p>
                            <!-- <p>Voir le site</p> -->
                        </div>
                    </a>
              </div>
          </div>
          <div class="col-md-6" style="margin-bottom: 0px">
              <div class="project add-animation animation-2">
                    <%=image_tag "vitrine/bnbmanage.jpg" %>
                    <!-- <a class="over-area " href="javascript:void(0)" onClick="rubik.showModal(this)" data-target="project_1"> -->
                    <a class="over-area " target="_blank" href="http://www.bnbmanage.com/">
                         <div class="content">
                            <h4 >Bnb Manage</h4>
                            <p>Outil de gestion des réservations pour les conciergeries Airbnb</p>
                            <!-- <p>Voir le site</p> -->
                        </div>
                    </a>
              </div>
          </div>
          <div class="col-md-6">
              <div class="project add-animation animation-1">
                  <%=image_tag "vitrine/maraboute.jpg"%>
                  <!-- <a class="over-area " href="javascript:void(0)" onClick="rubik.showModal(this)" data-target="project_1"> -->
                  <a class="over-area " target="_blank" href="http://maraboute.herokuapp.com/">
                       <div class="content">
                          <h4 >Maraboute</h4>
                          <p>Bracelets d'inspiration africaine pour écarter le mauvais oeil</p>
                          <!-- <p>Voir le site</p> -->
                      </div>
                  </a>
               </div>
          </div>
          <div class="col-md-6">
              <div class="project add-animation animation-2">
                  <%=image_tag"vitrine/wetennis.jpg"%>
                  <!-- <a class="over-area " href="javascript:void(0)" onClick="rubik.showModal(this)" data-target="project_1"> -->
                  <a class="over-area " target="_blank" href="http://www.wetennis.fr/">
                       <div class="content">
                          <h4 >WeTennis</h4>
                          <p>Site web pour réserver ses tournois de tennis en 30 secondes</p>
                          <!-- <p>Voir le site</p> -->
                      </div>
                  </a>
              </div>
          </div>
        </div>
    </div>



     <!-- <div class="section section-clients-2" id="clients">
        <div class="container">
           <div class="title add-animation">
               <h2>Friends Together</h2>
               <div class="separator-container">
                  <div class="separator line-separator">♦</div>
               </div>
         </div>
         <div class="tab-content quotes add-animation animation-2">
            <div class="tab-pane active" id="canon">
               <p class="large">100% of my wardrobe is made of their clothes - that's how good they are! Can you believe it? I just don't need to look somewhere else!</p>
            </div>
            <div class="tab-pane" id="samsung">
                   <p class="large">
                       I like to feel good in the clothes I wear so I go with the Agency. They provide the slick look that I enjoy everyday. It doesn't matter if I am at work, home or going out, I'm always covered.
                   </p>
           </div>
            <div class="tab-pane" id="sony">
                  <p class="large">
                  I wish I found these guys sooner. They helped me discover my style and tailor clothes that fit perfectly. I gotta say I recommend them to anyway that can needs a style boost. </p>
            </div>
            <div class="tab-pane" id="intel">
                  <p class="large">No matter the season, I start it off by a massive buying spree from the Agency. They just keep on creating amazing outfits, I gotta to have them!</p>
            </div>
          </div>
          <ul class="nav nav-text list-logos add-animation animation-2" role="tablist">
            <li class="active">
              <a href="../#canon" role="tab" data-toggle="tab">
                <h3 class="big-text">Tim Jones</h3>
              </a>
            </li>
            <li>
              <a href="../#samsung" role="tab" data-toggle="tab">
                <h3 class="big-text">Jack Spring</h3>
              </a>
            </li>
            <li>
              <a href="../#sony" role="tab" data-toggle="tab">
                <h3 class="big-text">Helen Bolton</h3>
              </a>
            </li>
             <li>
              <a href="../#intel" role="tab" data-toggle="tab">
                <h3 class="big-text">Daniel Claus</h3>
              </a>
            </li>
          </ul>

        </div>
      </div> -->

    <div class="section section-team-2" id="team">
       <div class="container">
         <div class="text-area">
             <div class="title add-animation">
               <h2>Team</h2>
               <div class="separator-container">
                  <div class="separator line-separator">♦</div>
               </div>
               <p>
                   Notre team vient de fêter ses 50 ans. Passionnés de web et de design, diplômés en webmarketing, nous sommes 2 trublions ultra qualifiés pour vous aider à passer au step supérieur.
               </p>
           </div>
        </div>
        <div class="team">
          <div class="row">
            </div>
             <div class="col-md-3 col-md-offset-3 col-sm-6">
               <div class="member add-animation animation-3">
                  <%= image_tag "faces/gary-sepia.jpg", class: "img-circle" %>
                  <div class="description">
                    <h3 class="big-text">Gary</h3>
                    <p class="small-text">Designer</p>
                 </div>
                 <div class="social-buttons hidden-xs">
                    <a target="_blank" href="https://fr.linkedin.com/in/gbenezat" class="btn btn-social btn-simple"><i class="fa fa-linkedin"></i></a>
                    <a target="_blank" href="https://www.facebook.com/gbenezat" class="btn btn-social btn-simple"><i class="fa fa-facebook-square"></i></a>
                 </div>
              </div>
            </div>

             <div class="col-md-3 col-sm-6">
               <div class="member add-animation animation-4">
                  <%= image_tag"faces/david-sepia.jpg", class: "img-circle"%>
                  <div class="description">
                    <h3 class="big-text">David</h3>
                    <p class="small-text">Développeur</p>
                 </div>
                 <div class="social-buttons hidden-xs">
                    <a target="_blank" href="https://fr.linkedin.com/in/david-geismar-53bba3a4" class="btn btn-social btn-simple"><i class="fa fa-linkedin"></i></a>
                    <a target="_blank" href="https://www.facebook.com/david.geismar" class="btn btn-social btn-simple"><i class="fa fa-facebook-square"></i></a>
                 </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="section section-numbers-2" id="numbers">
      <div class="parallax filter filter-color-1 pic-3">
            <!-- <img src="assets/img/vitrine/writting-machine.jpg"> -->
         <div class="pic-filter-3"></div>
        <div class="container">
            <div class="text-area">
                <div class="title">
                    <h2>Tarifs</h2>
                    <div class="separator-container">
                      <div class="separator line-separator">♦</div>
                    </div>
                    <p>Optez pour l'une de nos 2 offres ou demandez un devis pour des besoins plus spécifiques (site e-commerce, référencement naturel, campagnes Adwords, identité de marque, envoi de newsletter, campagne d'emailing, community management).</p>
                </div>
            </div>


            <div class="clearfix"></div>
            <div class="row">
               <div class="col-sm-4 col-sm-offset-2">
                   <div class="card card-plain">
                       <h3>Offre Taylor</h3>
                       <h5>Site vitrine</h5>
                       <div class="number">
                        999e
                       </div>
                   </div>
               </div>
               <div class="col-md-4 col-sm-4">
                   <div class="card card-plain">
                       <h3>Offre Ford</h3>
                       <h5>Site vitrine + photo pro</h5>
                       <div class="number" >
                        1499e
                       </div>
                   </div>
               </div>
            </div>
        </div>
      </div>
    </div>

<!-- test -->
    <div class="section section-contact-1" id="informations">
        <div class="container">
            <div class="text-area">
                 <div class="title add-animation">
                   <h2>Informations</h2>
                   <div class="separator-container">
                      <div class="separator line-separator">♦</div>
                   </div>
                   <p>Retrouvez-nous dans nos locaux à deux pas de la Concorde et de la Madeleine</p>
            </div>
        </div>
    </div>

    <div class="section section-contact-3">
        <div class="contact-container">
            <div class="address-container add-animation animation-1">
                <div class="address">
                    <h4>Où nous trouver ?</h4>
                    <p class="text-gray">
                        5 rue d'Aguesseau<br>
                        Paris 8e<br>
                    </p>
                    <h4>Téléphone</h4>
                    <p class="text-gray">Gary: 06.19.91.80.26<br>
                      David: 06.66.02.74.14</p>
                    <h4>Mail</h4>
                    <a href="mailto:hello@creative-tim.com">
                        <p class="text-gray">gary@thevitrinefactory.fr<br>
                          david@thevitrinefactory.fr</p>
                    </a>
                </div>
            </div>
            <div  class="map">
                <div id="contactUsMap" class="big-map"></div>
            </div>
        </div>
    </div>
<!-- jusque la -->

     <div class="section section-contact-2" id="contact">
          <div class="container">
            <div class="text-area">
                <div class="title add-animation">
                    <h2>Contact</h2>
                    <div class="separator-container">
                      <div class="separator line-separator">♦</div>
                    </div>
                    <p>Vous voulez plus de renseignements, un devis personnalisé ou simplement discuter ? Envoyez-nous vos questions, nous serons ravis d'y répondre.</p>
                </div>
            </div>
            <div class="contact-form">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group add-animation animation-1">
                          <label>Votre nom</label>
                          <input type="text" value="" placeholder="Willy Wonka" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group add-animation animation-2">
                            <label>Votre email</label>
                            <input type="text" value="" placeholder="willy@wonka.com" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group add-animation animation-3">
                            <label>Sujet</label>
                            <input type="text" value="" placeholder="Hello the vitrine factory !" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group add-animation animation-1">
                            <textarea class="form-control" placeholder="Prenez votre plus belle plume, on vous écoute :)" rows="8"></textarea>
                        </div>
                    <div>
                    <div class="col-md-2 col-md-offset-5 col-sm-2 col-sm-offset-5">
                         <button  class="btn btn-lg btn-black btn-contact">
                            ENVOYER <i class="fa fa-paper-plane"></i>
                         </button>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    </div>
  </div>
</div>

    <footer class="footer footer-color-white">
          <div class="container">
              <div class="copyright">
                  &copy; 2016 The Vitrine Factory, made with <i class="fa fa-hand-peace-o"></i> in Paris
              </div>
          </div>
      </footer>
</div> <!-- end wrapper -->
<!-- <div class="project-content" id="project_1">
  <span class="icon-close"><i class="pe-7s-close-circle"></i></span>
  <div>
    <div class="project-details">
      <div class="container">
        <div class="project-title">
          <h2>Watch Anish</h2>
          <div class="separator-container">
              <div class="separator line-separator">♦</div>
            </div>
            <p>We've been working with Watch Anish since the beginning. We are proud that they enjoy our results</p>
        </div>
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <div class="article">
              <div class="project-image">
                 <img src="assets/img/rubik_background2.jpg"/>
              </div>
              <div class="project-text">
                  <h3>Turnip greens yarrow ricebean rutabaga endive cauliflower sea lettuce<span>.</span></h3>
                  <p>Turnip greens yarrow ricebean rutabaga endive cauliflower sea lettuce kohlrabi amaranth water spinach avocado daikon napa cabbage asparagus winter purslane kale. Celery potato scallion desert raisin horseradish spinach carrot soko. Lotus root water spinach fennel kombu maize bamboo shoot green bean swiss chard seakale pumpkin onion chickpea gram corn pea. Brussels sprout coriander water chestnut gourd swiss chard wakame kohlrabi beetroot carrot watercress.</p>
                  <p>Turnip greens yarrow ricebean rutabaga endive cauliflower sea lettuce kohlrabi amaranth water spinach avocado daikon napa cabbage asparagus winter purslane kale. Celery potato scallion desert raisin horseradish spinach carrot soko. Lotus root water spinach fennel kombu maize bamboo shoot green bean swiss chard seakale pumpkin onion chickpea gram corn pea. Brussels sprout coriander water chestnut gourd swiss chard wakame kohlrabi beetroot carrot watercress.</p>
                  <p>Gumbo beet greens corn soko endive gumbo gourd. Parsley shallot courgette tatsoi pea sprouts fava bean collard greens dandelion okra wakame tomato. Dandelion cucumber earthnut pea peanut soko zucchini.Celery potato scallion desert raisin horseradish spinach carrot soko<span>.</span></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="project-content" id="project_2">
  <span class="icon-close"><i class="pe-7s-close-circle"></i></span>
  <div>
    <div class="project-details">
      <div class="container">
        <div class="project-title">
          <h2>Summer Men Style</h2>
          <div class="separator-container">
              <div class="separator line-separator">♦</div>
            </div>
            <p>We've been working with Kingsman Studios and we are proud that they enjoy our results.</p>
        </div>
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <div class="article">
              <div class="project-image">
                 <img src="assets/img/rubik_background2.jpg"/>
              </div>
              <div class="project-text">
                  <h3>Turnip greens yarrow ricebean rutabaga endive cauliflower sea lettuce<span>.</span></h3>
                  <p>Turnip greens yarrow ricebean rutabaga endive cauliflower sea lettuce kohlrabi amaranth water spinach avocado daikon napa cabbage asparagus winter purslane kale. Celery potato scallion desert raisin horseradish spinach carrot soko. Lotus root water spinach fennel kombu maize bamboo shoot green bean swiss chard seakale pumpkin onion chickpea gram corn pea. Brussels sprout coriander water chestnut gourd swiss chard wakame kohlrabi beetroot carrot watercress.</p>
                  <p>Turnip greens yarrow ricebean rutabaga endive cauliflower sea lettuce kohlrabi amaranth water spinach avocado daikon napa cabbage asparagus winter purslane kale. Celery potato scallion desert raisin horseradish spinach carrot soko. Lotus root water spinach fennel kombu maize bamboo shoot green bean swiss chard seakale pumpkin onion chickpea gram corn pea. Brussels sprout coriander water chestnut gourd swiss chard wakame kohlrabi beetroot carrot watercress.</p>
                  <p>Gumbo beet greens corn soko endive gumbo gourd. Parsley shallot courgette tatsoi pea sprouts fava bean collard greens dandelion okra wakame tomato. Dandelion cucumber earthnut pea peanut soko zucchini.Celery potato scallion desert raisin horseradish spinach carrot soko<span>.</span></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="project-content" id="project_3">
  <span class="icon-close"><i class="pe-7s-close-circle"></i></span>
  <div>
    <div class="project-details">
      <div class="container">
        <div class="project-title">
          <h2>Watch Anish</h2>
          <div class="separator-container">
              <div class="separator line-separator">♦</div>
            </div>
            <p>We've been working with Watch Anish since the beginning. We are proud that they enjoy our results</p>
        </div>
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <div class="article">
              <div class="project-image">
                 <img src="assets/img/rubik_background2.jpg"/>
              </div>
              <div class="project-text">
                  <h3>Turnip greens yarrow ricebean rutabaga endive cauliflower sea lettuce<span>.</span></h3>
                  <p>Turnip greens yarrow ricebean rutabaga endive cauliflower sea lettuce kohlrabi amaranth water spinach avocado daikon napa cabbage asparagus winter purslane kale. Celery potato scallion desert raisin horseradish spinach carrot soko. Lotus root water spinach fennel kombu maize bamboo shoot green bean swiss chard seakale pumpkin onion chickpea gram corn pea. Brussels sprout coriander water chestnut gourd swiss chard wakame kohlrabi beetroot carrot watercress.</p>
                  <p>Turnip greens yarrow ricebean rutabaga endive cauliflower sea lettuce kohlrabi amaranth water spinach avocado daikon napa cabbage asparagus winter purslane kale. Celery potato scallion desert raisin horseradish spinach carrot soko. Lotus root water spinach fennel kombu maize bamboo shoot green bean swiss chard seakale pumpkin onion chickpea gram corn pea. Brussels sprout coriander water chestnut gourd swiss chard wakame kohlrabi beetroot carrot watercress.</p>
                  <p>Gumbo beet greens corn soko endive gumbo gourd. Parsley shallot courgette tatsoi pea sprouts fava bean collard greens dandelion okra wakame tomato. Dandelion cucumber earthnut pea peanut soko zucchini.Celery potato scallion desert raisin horseradish spinach carrot soko<span>.</span></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="project-content" id="project_4">
  <span class="icon-close"><i class="pe-7s-close-circle"></i></span>
  <div>
    <div class="project-details">
      <div class="container">
        <div class="project-title">
          <h2>Watch Anish</h2>
          <div class="separator-container">
              <div class="separator line-separator">♦</div>
            </div>
            <p>We've been working with Watch Anish since the beginning. We are proud that they enjoy our results</p>
        </div>
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <div class="article">
              <div class="project-image">
                 <img src="assets/img/rubik_background2.jpg"/>
              </div>
              <div class="project-text">
                  <h3>Turnip greens yarrow ricebean rutabaga endive cauliflower sea lettuce<span>.</span></h3>
                  <p>Turnip greens yarrow ricebean rutabaga endive cauliflower sea lettuce kohlrabi amaranth water spinach avocado daikon napa cabbage asparagus winter purslane kale. Celery potato scallion desert raisin horseradish spinach carrot soko. Lotus root water spinach fennel kombu maize bamboo shoot green bean swiss chard seakale pumpkin onion chickpea gram corn pea. Brussels sprout coriander water chestnut gourd swiss chard wakame kohlrabi beetroot carrot watercress.</p>
                  <p>Turnip greens yarrow ricebean rutabaga endive cauliflower sea lettuce kohlrabi amaranth water spinach avocado daikon napa cabbage asparagus winter purslane kale. Celery potato scallion desert raisin horseradish spinach carrot soko. Lotus root water spinach fennel kombu maize bamboo shoot green bean swiss chard seakale pumpkin onion chickpea gram corn pea. Brussels sprout coriander water chestnut gourd swiss chard wakame kohlrabi beetroot carrot watercress.</p>
                  <p>Gumbo beet greens corn soko endive gumbo gourd. Parsley shallot courgette tatsoi pea sprouts fava bean collard greens dandelion okra wakame tomato. Dandelion cucumber earthnut pea peanut soko zucchini.Celery potato scallion desert raisin horseradish spinach carrot soko<span>.</span></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="project-content" id="project_5">
  <span class="icon-close"><i class="pe-7s-close-circle"></i></span>
  <div>
    <div class="project-details">
      <div class="container">
        <div class="project-title">
          <h2>Watch Anish</h2>
          <div class="separator-container">
              <div class="separator line-separator">♦</div>
            </div>
            <p>We've been working with Watch Anish since the beginning. We are proud that they enjoy our results</p>
        </div>
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <div class="article">
              <div class="project-image">
                 <img src="assets/img/rubik_background2.jpg"/>
              </div>
              <div class="project-text">
                  <h3>Turnip greens yarrow ricebean rutabaga endive cauliflower sea lettuce<span>.</span></h3>
                  <p>Turnip greens yarrow ricebean rutabaga endive cauliflower sea lettuce kohlrabi amaranth water spinach avocado daikon napa cabbage asparagus winter purslane kale. Celery potato scallion desert raisin horseradish spinach carrot soko. Lotus root water spinach fennel kombu maize bamboo shoot green bean swiss chard seakale pumpkin onion chickpea gram corn pea. Brussels sprout coriander water chestnut gourd swiss chard wakame kohlrabi beetroot carrot watercress.</p>
                  <p>Turnip greens yarrow ricebean rutabaga endive cauliflower sea lettuce kohlrabi amaranth water spinach avocado daikon napa cabbage asparagus winter purslane kale. Celery potato scallion desert raisin horseradish spinach carrot soko. Lotus root water spinach fennel kombu maize bamboo shoot green bean swiss chard seakale pumpkin onion chickpea gram corn pea. Brussels sprout coriander water chestnut gourd swiss chard wakame kohlrabi beetroot carrot watercress.</p>
                  <p>Gumbo beet greens corn soko endive gumbo gourd. Parsley shallot courgette tatsoi pea sprouts fava bean collard greens dandelion okra wakame tomato. Dandelion cucumber earthnut pea peanut soko zucchini.Celery potato scallion desert raisin horseradish spinach carrot soko<span>.</span></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="project-content" id="project_6">
  <span class="icon-close"><i class="pe-7s-close-circle"></i></span>
  <div>
    <div class="project-details">
      <div class="container">
        <div class="project-title">
          <h2>Watch Anish</h2>
          <div class="separator-container">
              <div class="separator line-separator">♦</div>
            </div>
            <p>We've been working with Watch Anish since the beginning. We are proud that they enjoy our results</p>
        </div>
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <div class="article">
              <div class="project-image">
                 <img src="assets/img/rubik_background2.jpg"/>
              </div>
              <div class="project-text">
                  <h3>Turnip greens yarrow ricebean rutabaga endive cauliflower sea lettuce<span>.</span></h3>
                  <p>Turnip greens yarrow ricebean rutabaga endive cauliflower sea lettuce kohlrabi amaranth water spinach avocado daikon napa cabbage asparagus winter purslane kale. Celery potato scallion desert raisin horseradish spinach carrot soko. Lotus root water spinach fennel kombu maize bamboo shoot green bean swiss chard seakale pumpkin onion chickpea gram corn pea. Brussels sprout coriander water chestnut gourd swiss chard wakame kohlrabi beetroot carrot watercress.</p>
                  <p>Turnip greens yarrow ricebean rutabaga endive cauliflower sea lettuce kohlrabi amaranth water spinach avocado daikon napa cabbage asparagus winter purslane kale. Celery potato scallion desert raisin horseradish spinach carrot soko. Lotus root water spinach fennel kombu maize bamboo shoot green bean swiss chard seakale pumpkin onion chickpea gram corn pea. Brussels sprout coriander water chestnut gourd swiss chard wakame kohlrabi beetroot carrot watercress.</p>
                  <p>Gumbo beet greens corn soko endive gumbo gourd. Parsley shallot courgette tatsoi pea sprouts fava bean collard greens dandelion okra wakame tomato. Dandelion cucumber earthnut pea peanut soko zucchini.Celery potato scallion desert raisin horseradish spinach carrot soko<span>.</span></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
